.friend-row-container {
  display: grid;
  grid-template-columns: 15% 60% 20%;
  background-color: white;
  border: 1px solid #e9e8e8da;
  border-radius: 20px;
  margin-bottom: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  .user-data {
    display: flex;
    flex-direction: column;
    .name {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    div {
      margin-right: 10px;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  .user-icon {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
  }
  Button {
    background-color: #517decf1;
    height: 60%;
    width: 50%;
    border-color: transparent;
    display: flex;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}
