.class-container {
  margin-top: 20px;
  box-sizing: content-box;
  height: fit-content;
  border-radius: 20px;
  border: 2px solid #e9e8e8da;
  background-color: white;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
}
