.icon-container {
  display: flex;
  height: 30px;
  width: 30px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.eng-color {
  background-color: #5ab9ea;
}

.comp-color {
  background-color: #c1c8e4;
}
