.welcome-container {
  box-sizing: content-box;
  height: auto;
  border-radius: 20px;
  border: 2px solid #e9e8e8da;
  background-color: white;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
